<?xml version="1.0"?>
<model>
  <name>image_board</name>
  <version>1.0</version>

  <sdf version="1.9">land_zone.sdf</sdf>

  <author>
    <name>zjx</name>
    <email>example@example.com</email>
  </author>

  <description>
    A simple image board model for Gazebo Sim to simulate the land_zone
  </description>
</model>
